<!-- Tool Bar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Welcome, {{ currentUser.username }}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row></mat-toolbar
>

<br />

<!-- Users -->
<div *ngFor="let user of users">
  <app-user *ngIf="currentUser.id !== user.id && user.id !== userToEditID" [user]="user"></app-user>
  <app-edit-user *ngIf="currentUser.id !== user.id && user.id === userToEditID" [user]="user"></app-edit-user>
  <br/>
</div>
