<!-- Login Page -->
<app-login-page (registerFlag)="changeRegisterFlag($event)" *ngIf="currentUser === undefined && registerFlag === false && loginFlag === true"></app-login-page>

<!-- Register Page -->
<app-register-page (registerFlag)="changeRegisterFlag($event)" *ngIf="currentUser === undefined && registerFlag === true && loginFlag === false"></app-register-page>

<!-- Home Page -->
<app-home-page (logoutFlag)="changeLogoutFlag($event)" [currentUser]="currentUser" *ngIf="currentUser !== undefined && loginFlag === false && registerFlag === false"></app-home-page>